﻿@using System.Collections
@using TW.Models.Database
@model IList<Achievement>
@{
    ViewData.Model = (IList<Achievement>)ViewBag.AchievementList;
}

<div id="selected-achievement-panel" class="span9">
    <div class="span3 image-panel"></div>
    <div class="span5 content-panel"></div>
</div>
<div id="achievements-panel" class="span9">
    @foreach (var mod in Model) {
        <div>
            <a href="#" class="profile-achievement-link" data-name="@mod.Name" data-description="@mod.Description"><img src="@mod.ImagePath" width="100" height="100" alt=""/></a>
        </div>
    }
</div>