﻿@using TwitterBootstrapMVC


<div class="tabbable tabs-below">
    <div id="add-lesson-panel" class="tab-content">
        @using (Html.BeginForm("SubmitExercise", "UserProfile", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.Bootstrap().SubmitButton().Text("Wyślij").HtmlAttributes(new { style = "margin-bottom: 10px; float: right" })

            @Html.Bootstrap().ControlGroup().TextBox("ExerciseName").Label().LabelText("Nazwa Zadania")
            @Html.Bootstrap().ControlGroup().TextBox("ExpPoints").Label().LabelText("Punktów doświadczenia")
            @Html.Bootstrap().ControlGroup().TextArea("ExerciseDescription").Label().LabelText("Opis zadania")
            @Html.Bootstrap().ControlGroup().TextArea("QuestionDescription").Label().LabelText("Pytanie")
            @Html.Bootstrap().ControlGroup().TextArea("AnswerDescription").Label().LabelText("Odpowiedź")
            @Html.Bootstrap().ControlGroup().TextArea("HelpDescription").Label().LabelText("Podpowiedź")
            @Html.Bootstrap().ControlGroup().DropDownList("TypeName", ViewBag.ExerciseTypeList).Label().LabelText("Typ zadania")
            @Html.Bootstrap().ControlGroup().DropDownList("LessonName", ViewBag.LessonsList).Label().LabelText("Lekcja")
        }
    </div>
</div>

