﻿@using TwitterBootstrapMVC


<div class="tabbable tabs-below">
    <div id="add-lesson-panel" class="tab-content">
        @using (Html.BeginForm("SubmitLesson", "UserProfile", FormMethod.Post, new { @class = "form-horizontal" })) {
            @Html.Bootstrap().SubmitButton().Text("Wyślij").HtmlAttributes(new { style = "float: right;" })

            @Html.Bootstrap().ControlGroup().TextBox("LessonName").Label().LabelText("Nazwa lekcji")
            @Html.Bootstrap().ControlGroup().TextBox("ImagePath").Label().LabelText("Ścieżka do zdjęcia")
            @Html.Bootstrap().ControlGroup().TextBox("ExpPoints").Label().LabelText("Punktów doświadczenia")
            @Html.Bootstrap().ControlGroup().TextArea("LessonDescription").Label().LabelText("Opis lekcji")
            @Html.Bootstrap().ControlGroup().DropDownList("CategoryName", ViewBag.CategoryList).Label().LabelText("Kategoria")

            <div class="tab-pane active" id="lesson-page1">
                @Html.Bootstrap().ControlGroup().TextBox("PageName").Label().LabelText("Nazwa strony")
                @Html.TextArea("content", new { style = "width: 95%" })
            </div>
        }
    </div>
        <ul id="lesson-page-list" class ="nav nav-tabs">
            <li class="active" ><a href="#" data-toggle="tab" class="lesson-editor-page-link" data-target="#lesson-page1">Strona 1</a></li>
            <li><a href="#" id="add-lesson-page">Nowa strona</a></li>
        </ul>
</div>

