﻿@model TW.Models.ViewModels.PasswordChangeModel

@using TwitterBootstrapMVC
    <h3>Zmień swoje hasło</h3>
    @using (Html.BeginForm("ChangePassword", "UserProfile", FormMethod.Post, new { @class = "form-horizontal update-password-form" })) {
        @Html.Bootstrap().ControlGroup().PasswordFor(model => model.OldPassword)
        @Html.Bootstrap().ControlGroup().PasswordFor(model => model.NewPassword)
        @Html.Bootstrap().ControlGroup().PasswordFor(model => model.PasswordRepeat)
                
        using (Html.Bootstrap().Container().BeginFormActions()) {
            <div>
                @Html.Bootstrap().SubmitButton().Text("Wyślij")
            </div>
        }
    }
