﻿@model TW.Models.ViewModels.UserProfileModel
@{
    var progress = Model.NextLevelProgressPercent + "%";
}

<img src="@Model.AvatarPath" alt="" width="250" height="250"/><br />
<p>@Model.DisplayableName<br/>
    @if (!string.IsNullOrWhiteSpace(Model.FirstName)) {
        @(Model.FirstName+" "+Model.LastName)<br/>        
    }
    Poziom: @Model.CurrentLevel<br/>
</p>
<div class="progress progress-striped">
    <div class="bar" style="width: @progress;"></div>
</div>
<p>
            
</p>