﻿@using TwitterBootstrapMVC
@model TW.Models.ViewModels.ProfileUpdateModel

<h3>Edytuj swoje dane</h3>
<div class="container">
<div class="span3">
    <div id="dropZone" class='fileDrop'>
        <p style="font-size: 60px;  margin-top: 40px; margin-bottom: 4px">+</p><br/>
        Przeciągnij tutaj<br/>
        nowy Avatar
        <span id='fileDropTarget'/>

    </div>
</div>
    <div class="span6">
        @using (Html.BeginForm("UpdateProfile", "UserProfile", FormMethod.Post, new { @class = "form-horizontal update-profile-form" })) {
                    @Html.Bootstrap().ControlGroup().TextBoxFor(model => model.DisplayableName)
                    @Html.Bootstrap().ControlGroup().TextBoxFor(model => model.FirstName)
                    @Html.Bootstrap().ControlGroup().TextBoxFor(model => model.LastName)
                    @Html.Bootstrap().ControlGroup().TextBoxFor(model => model.Email)
                
                    using (Html.Bootstrap().Container().BeginFormActions()) {
                        <div>
                            @Html.Bootstrap().SubmitButton().Text("Zapisz")
                        </div>
                    }
                }
    </div>
    </div>
