﻿@using TwitterBootstrapMVC
@using TW.Models.ViewModels
@using TW.Common

<div>
    <div id="form-details-message-panel"></div>
    @Html.Partial("_EditDetails", (object)ViewBag.UpdateModel)
    @if (!Html.IsCurrentWebUser()) {
        <div id="form-password-message-panel"></div>
        @Html.Partial("_ChangePassword")
    }
</div>