﻿@using TW.Models.Database
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nazwa kategorii</th>
            <th>Doświadczenie</th>
            <th>Poziom umiejętności</th>
        </tr>
    </thead>
    <tbody>
    @foreach (Category category in ViewBag.categories)
    {
        <tr>
            <td>@for (int i = 0; i < ViewBag.order[category.Id]; i++) {
                    Html.Raw(">");
                }
                @category.Name
            </td>
            <td>@ViewBag.exp[category.Id] punktów</td>
            <td>@ViewBag.skills[category.Id]</td>
        </tr>
    }
    </tbody>
</table>