﻿<div class="span3">
    <div class="user-panel-details">
        @Html.Partial("_Details", (object)ViewBag.ProfileDetails)
    </div>
</div>
<div class="span8">
    <ul id="profile-nav-tabs" class="nav nav-tabs">
        <li class="active"><a href="#" data-url="@Url.Action("Skills")" class="profile-ajax-link" data-toggle="tab">Umiejętności</a></li>
        <li><a href="#" data-url="@Url.Action("Achievements")" class="profile-ajax-link" data-toggle="tab">Osiągnięcia</a></li>
        <li><a href="#" data-url="@Url.Action("Edit")" class="profile-edit-ajax-link" data-toggle="tab">Profil</a></li>
        <li><a href="#" data-url="@Url.Action("Inbox")" class="profile-ajax-link" data-toggle="tab">Wiadomości</a></li>
        <li><a href="#" data-url="@Url.Action("AddLesson")" class="lesson-ajax-link" data-toggle="tab">Dodaj lekcję</a></li>
        <li><a href="#" data-url="@Url.Action("AddExercise")" class="profile-ajax-link lesson-ajax-link" data-toggle="tab">Dodaj Zadanie</a></li>
    </ul>
    <div id="user-profile-content-panel">
        @Html.Partial((string)ViewBag.View)
    </div>
</div>