﻿@using TW.Models.Database
@{
    ViewBag.Title = "_Details";
    int counter = 1;
}

<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        @foreach (Exercise ex in ViewBag.exercises)
        {
            
            <li @if (ex.Id == ViewBag.current+1)
                {
                    @Html.Raw("class=\"active\"");
                } id="@ex.Id"><a href="" class="exerciseChangeExercise" data-url="/Exercise/Details/@(ViewBag.lesson.Id)/?exercise=@(counter-1)" data-toggle="tab" style="min-width: 0px;"><span class="badge" @Html.Raw("id=\"iconEx"+ex.Id+"\"")>?</span></a></li>
            {counter++;}
        }
    </ul>
    <div class="tab-content" id="exerciseContent">
        @Html.Partial((string)ViewBag.View)
    </div>
</div>
    <button id="ExerciseSaveProgress" class="btn btn-success" style="float: right;">Zapisz osiągnięcia</button>