﻿@{
    ViewBag.Title = "_Page";
}


<div class="row">
    <div class="span9">
        <h2>@ViewBag.exercises[ViewBag.current].Name</h2>
        <h4>@ViewBag.exercises[ViewBag.current].Content</h4>
        <p>@ViewBag.exercises[ViewBag.current].Question</p>
        Odpowiedź: <input type="text" id="Answer"/>
    </div>
    <div class="span2" style="text-align: center;">
        <div class="score">
            <div class="badge badge-important badgeIconSize" id="answerWrong" style="display: none;">!</div>
            <div class="badge badge-success badgeIconSize" id="answerRight" style="display: none;">&#10004;</div>
        </div>
        <div class="exerciseButtons">
            <button class="btn btn-small exerciseCheckAnswer" type="button" value="@ViewBag.exercises[ViewBag.current].Id">Sprawdź</button>
            @if (@ViewBag.exercises[ViewBag.current].Help != "")
            {
                <button class="btn btn-small" type="button" id="exerciseHelp">Podpowiedź</button>
            }
        </div>
        @if (@ViewBag.exercises[ViewBag.current].Help != "")
        {
            <div id="showExerciseHelp" class="well well-small" style="display: none;">@ViewBag.exercises[ViewBag.current].Help</div>
        }
    </div>
    <div style="display: none;" id="exerciseInfo" value="@ViewBag.exercises[ViewBag.current].Id"></div>
    <div style="display: none;" id="exerciseInfoExp" value="@ViewBag.exercises[ViewBag.current].ExperiencePoints"></div>
    <div style="display: none;" id="exerciseInfoLesson" value="@ViewBag.lesson.Id"></div>
    <div style="display: none;" id="exerciseAnswer" value="@ViewBag.exercises[ViewBag.current].Answer"></div>
</div>