﻿
@using TwitterBootstrapMVC
@model TW.Models.ViewModels.LoginModel

<h4>Zaloguj się na swoje konto</h4>
<div id="form-error-panel"></div>
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal sign-in-form" })) {
    @Html.Bootstrap().ControlGroup().TextBoxFor(model => model.Username)
    @Html.Bootstrap().ControlGroup().PasswordFor(model => model.Password)
    @Html.Bootstrap().ControlGroup().CheckBoxFor(model => model.RememberMe)
                
    using(Html.Bootstrap().Container().BeginFormActions()) {
        <div>
            @Html.Bootstrap().SubmitButton().Text("Wyślij")
        </div>
    }
}
<h6>Nie masz konta? <a href="#" class="sign-in-ajax-link" data-url="@Url.Action("RegisterForm", "Account")">Klinij aby się zarejestrować.</a></h6>
                