﻿@using TwitterBootstrapMVC
@model TW.Models.ViewModels.RegisterModel

<h4>Utwórz nowe konto</h4>
<div id="form-error-panel"></div>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal sign-in-form" })) {
    @Html.Bootstrap().ControlGroup().TextBoxFor(model => model.Username)
    @Html.Bootstrap().ControlGroup().TextBoxFor(model => model.DisplayableName)
    @Html.Bootstrap().ControlGroup().PasswordFor(model => model.Password)
    @Html.Bootstrap().ControlGroup().PasswordFor(model => model.PasswordRepeat)
                
    using(Html.Bootstrap().Container().BeginFormActions()) {
        <div>
            @Html.Bootstrap().SubmitButton().Text("Wyślij")
        </div>
    }
}
<h6>Masz już konto? <a href="#" class="sign-in-ajax-link" data-url="@Url.Action("LoginForm", "Account")">Klinij aby się zalogować.</a></h6>