﻿@using TW.Constants

<div class="row">
    <div class="span6">
        <div id="login-register-form"  style="padding-right: 20px; border-right: 1px solid #ccc;">
            @Html.Partial((string)ViewBag.View)
        </div>
    </div>
    <div class="span6">
        <h4>Zaloguj się przy użyciu innego serwisu</h4>
        <a href="@Url.Action("Authentication", "Account", new { authType = AuthenticationType.Facebook })"><img src="~/Content/images/signin_facebook.png" alt="Sign in using Facebook"/></a>
        <a href="@Url.Action("Authentication", "Account", new { authType = AuthenticationType.Google })"><img src="~/Content/images/signin_google.png" alt="Sign in using Google"/></a>
        <a href="@Url.Action("Authentication", "Account", new { authType = AuthenticationType.Twitter })"><img src="~/Content/images/signin_twitter.png" alt="Sign in using Twitter"/></a>
    </div>
</div>
 