﻿#user-box-position-wrapper {
    position: absolute;
}
#user-box-position-wrapper.user-details-visible {
    right: 160px;
}

#user-box-position-wrapper.user-details-hidden {
    right: 20px;
}
#user-box-position-wrapper.user-box-hidden {
    margin-right: -180px;
}

div.fixed {
    position: fixed; 
    top: 45px;
    background: #F7F7F9;
    border: 1px solid #E1E1E8;
    display: inline-block;
    border-radius: 4px;
    -moz-border-radius: 4px;
    color: #333333;
}

#user-box-details 
{
    text-align: center;
    line-height: 150%;
    float: left;
    width: 140px;
    height: 205px;
}
#user-box-details * {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}
#user-box-details .progress {
    height: 10px;
    margin-bottom: 10px;
    padding-bottom: 0;
}
#user-box-bar
{
    position: relative;
    float: right;
    width: 14px;
    height: 205px;
    background: #ECECF0;
    border-left: 1px solid #E1E1E8;
}
.user-details-toggle {
    position: absolute;
    bottom: 0px;
}

#categoryLeft {
    background: #F7F7F9;
    border: 1px solid #E1E1E8;
    border-radius: 4px;
    -moz-border-radius: 4px;
    color: #333333;
    margin-left: 0px;
    min-height: 740px;
}

.arrowUp {
  
}
.arrowDown {
    background-image: url(images/arrow_down.gif);
    background-repeat: no-repeat;
    padding-left: 15px;
    background-position: left 5px;
}
.arrowRight {
    background-image: url(images/arrow_right.gif);
    background-repeat: no-repeat;
    padding-left: 15px;
    background-position: left 5px;
}
.arrowRightNoImage {
    padding-left: 15px;
}
.arrowLeft {
    background-image: url(images/arrow_left.gif);
    background-repeat: no-repeat;
    padding-left: 15px;
}
.categoryName {
    cursor: pointer;
}

#categoryLessonTop {
    text-align: center;
    height: 250px;
    border-bottom: 1px solid #ccc;
}

#categoryLessonBottom 
{
    margin-top: 10px;
    padding-left: 10px;
    float: left;
}

#categoryLessonMainImage {
    margin: auto;
}

#categoryLessonMainImage img {
    margin: auto;
    width: 250px;
}

#categoryLessonMainText {
    margin: auto;
}

#categoryLessonMainTextContainer {
    margin: auto;
    padding-top: 10px;
}

#categoryLessonMainTextContainer #content {
    height: 150px;
}

#categoryLessonMainTextContainer #title {
}

#categoryLessons {
    margin: auto;
    height: 250px;
    text-align: center;
}

#categoryLessons img{
    margin: auto 60px;
    height: 100px;
    width: 100px;
}

#categoryLessons .text{
    height: 80px;
}

#categoryLessons a
{
    margin-bottom: 15px;
    margin-right: 0px;
}

.footer { 
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    padding: 5px 0px;
    text-align: left;
}

#ajax-busy-indicator {
    width: 128px;
    height: 128px;
    margin-left: -64px;
    margin-top: -64px;
    top: 50%;
    left: 50%;
    position: fixed;
    display: none;
}

div.lessonMainPage {
    height: 150px;
}

img.imageMainPage 
{
    width: 150px;
    float: left;
}

p.lessonContentMainPage {
    padding-left: 160px;
}

p.linkToLessonMainPage {
    float: right;
}

p.mainNewsContent {
    font-size: 12px;
    line-height: 14px;
}

.image {
    height: 100px;
}

.news-carousel 
{
    width: 870px;
}
}

.exerciseButtons {
    padding-top: 20px;
    padding-bottom: 20px;
}

.exerciseButtons button {
    margin-top: 10px;
}

.badgeIconSize {
    font-size: 25px;
    height: 70px;
    width: 70px;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;  
}

