﻿div.user-panel-details 
{
    min-height: 740px;
    margin-top: 20px;
    padding-right: 20px;
    border-right: 1px solid #ccc;
    line-height: 150%;
    text-align: center;
}

div.user-panel-details .progress {
    height: 10px;
    margin-bottom: 10px;
    padding-bottom: 0;
}

div.user-panel-details * {
    margin-right: auto;
    margin-left: auto;
}

div.fileDrop {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border: 4px dashed #333333;
    display: inline-block;
    border-radius: 4px;
    -moz-border-radius: 4px;
    color: #333333;
    background: #F7F7F9;
    text-align: center;
}

#selected-achievement-panel { 
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: none;
}

#achievements-panel {
    display: inline-block;
}

#achievements-panel div {
    overflow: auto;
    float: left;
    width: 100px;
    height: 100px;
}