﻿@using TW.Models.Database
@{
    ViewBag.Title = "_Details";
}

<div class="well">
<div id="user-profile-content-panel">
    @Html.Partial((string)ViewBag.View)
</div>
    <div id="lessonBottomMenu">
        <div class="pagination pagination-centered">
            <ul>
                @if (ViewBag.currentPage != 1)
                {
                    @Html.Raw("<li><a data-url=\"/Lesson/Details/"+(ViewBag.lesson.Id)+"?page="+(ViewBag.currentPage-1)+"\" class=\"lessonPageNavigator\" href=\"\">Prev</a></li>");
                }
                @for (int i = 1; i <= ViewBag.pagesNumb; i++)
                {
                    <li><a data-url="/Lesson/Details/@(ViewBag.lesson.Id)?page=@i" href="#" 
                            @if (ViewBag.currentPage == i)
                            {
                                @Html.Raw("class=\"lessonPageNavigator label label-success\"");
                            } else {
                                @Html.Raw("class=\"lessonPageNavigator\"");
                            }
                            >@i</a></li>
                }
                @if (ViewBag.currentPage != ViewBag.pagesNumb)
                {
                    @Html.Raw("<li><a data-url=\"/Lesson/Details/" + (ViewBag.lesson.Id) + "?page=" + (ViewBag.currentPage + 1) + "\" class=\"lessonPageNavigator\" href=\"#\">Next</a></li>"); 
                }
            </ul>
        </div>
    </div>
    @if (ViewBag.currentPage != ViewBag.pagesNumb)
    {
        @Html.Raw("<a href=\"/Exercise/Details/" + (ViewBag.lesson.Id) + "\" style=\"margin-left: 620px;\"><button class=\"btn btn-info\">Rozwiąż zadania przygotowane do lekcji</button></a>");
    }
</div>