﻿@using TwitterBootstrapMVC
@model IList<TW.Models.Database.Lesson>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*@Html.ActionLink("Dodaj nowy")*@
<table class="table-striped">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Zawartość</th>
            <th>Exp</th>
            <th>Aktywny</th>
            <th>Data dodania</th>
        </tr>
    </thead>
    <tbody>
    @{ for (int i = 0; i < Model.Count; i++ ) {
           <tr>
               <td style="min-width: 50px">@Model[i].Name</td>
               <td>@Model[i].Content</td>
               <td>@Model[i].ExperiencePoints</td>
@*               <td>@Html.Bootstrap().CheckBoxFor(model => model[i].IsAccepted).HtmlAttributes(new { @disabled = "disabled" })</td>*@
               <td>@Html.DisplayFor(model => model[i].IsAccepted)</td>
               <td>@Model[i].AddDate</td>
           </tr>
       }
    }
    </tbody>
</table>