﻿<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <title>ZTW</title>
        <link href="~/Content/bootstrap.css" rel="stylesheet">
        <link href="~/Content/navbar.css" rel="stylesheet">
        <link href="~/Content/userprofile.css" rel="stylesheet"/>
        <link href="~/Content/style.css" rel="stylesheet">
        @RenderSection("PageStyles", false)
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <span class="brand">ZTW</span>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="#" class="navbar-link navbar-ajax-link" data-url="@Url.Action("Index", "Home")">Start</a></li>
                        <li><a href="#" class="navbar-link navbar-ajax-link" data-url="@Url.Action("Index", "Category")">Kategorie</a></li>
                        <li>
                        @if (!Request.IsAuthenticated) {
                            <a href="#" class="navbar-link navbar-ajax-link" data-url="@Url.Action("SignIn", "Account")">Zaloguj się</a>
                        } else {
                            @Html.ActionLink("Wyloguj się", "SignOut", "Account")
                        }
                        </li>
                    </ul>
                    <div class="navbar-search pull-right" id="mainSearch">
                        <input name="query" type="text" id="searchFieldHome" class="search-query span4" placeholder="Szukaj...">
                        <div class="icon-search"></div>
                    </div>
                </div>
            </div>
            </div>
            </div>
        <div class="container" style="margin-top: 50px;">
            @if (Request.IsAuthenticated) {
                @Html.Action("UserSidePanel", "Home")
            }
            <div id="global-error-panel"></div>
            <div id="content-panel">
                @RenderBody()
            </div>
        </div>
        <div id="ajax-busy-indicator"><img src="~/Content/images/loader.gif" /></div>
        <div class="footer navbar-fixed-bottom">
            <a href="#" class="navbar-ajax-link" data-url="@Url.Action("Index", "Home")">O nas</a>
        </div>
        
        <script src="~/Scripts/jquery-2.0.1.js" type="text/javascript"></script>
        <script src="~/Scripts/jquery-ui-1.10.3.js" type="text/javascript"></script>
        <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
        <script src="~/Scripts/jquery.filedrop.js" type="text/javascript"></script>
        <script src="~/Scripts/bootstrap.js" type="text/javascript"></script>
        <script src="~/Scripts/category.js" type="text/javascript"></script>
        <script src="~/Scripts/lesson.js" type="text/javascript"></script>
        <script src="~/Scripts/exercise.js" type="text/javascript"></script>
        <script src="~/Scripts/index.js" type="text/javascript"></script>
        <script src="~/Scripts/signIn.js" type="text/javascript"></script>
        <script src="~/Scripts/userprofile.js" type="text/javascript"></script>
        <script src="~/Scripts/tinymce.min.js" type="text/javascript"></script>
        @RenderSection("PageScripts", false)
    </body>
</html>
