﻿@using TW.Models.Database
@{
    ViewBag.Title = "_Search";
    int counter = 1;
}

<h2>Wyniki Wyszukiwania</h2>

@if (ViewBag.lessons.Count > 0)
{
    <div class="row">
        @foreach (Lesson lesson in ViewBag.lessons)
        {
            if (counter%3 == 0)
            {
                @Html.Raw("</div><div class=\"row\">")
                ;
            }
            <div class="span4">
                <h2>@lesson.Name</h2>
                <div class="lessonMainPage"><img class="imageMainPage" style="width: 150px; float: left;" src="@lesson.MainImage"/>
                    <p class="lessonContentMainPage">@lesson.Content</p></div>
            
                <p class="linkToLessonMainPage"><a class="categoryGoToLesson btn" data-url="@Url.Action("Details", "Lesson", new {id = lesson.Id})" href="#">Zobacz &raquo;</a></p>
            </div>
        }
    </div>
}
else
{
    <div class="row">
        <h4>Brak wyników wyszukiwania</h4>
    </div>
    }