﻿@model TW.Models.ViewModels.UserProfileModel
@{
    var progress = Model.NextLevelProgressPercent + "%";
}

<div id="user-box-position-wrapper" class="user-box-hidden user-details-visible">
            <div class="fixed">
                <div id="user-box-details" class="text-center">
                    <img src="@Model.AvatarPath" alt="Avatar"/><br/>
                    <a href="#" class="user-box-link" data-url="@Url.Action("Index", "UserProfile")">@Model.DisplayableName</a><br/>
                    Poziom: @Model.CurrentLevel<br/>
                    <div class="progress progress-striped">
                  <div class="bar" style="width: @progress;"></div>
                </div>
                </div>
                <div id="user-box-bar">
                    <i class="icon-envelope user-box-link" data-url="@Url.Action("Index", "UserProfile", new {view = "Inbox"})"></i>
                    <i class="icon-wrench user-box-profile-edit-ajax-link" data-url="@Url.Action("Index", "UserProfile", new {view = "Edit"})"></i>
                    <i class="icon-arrow-right user-details-toggle"></i>
                </div>
            </div>
        </div>