﻿@using TW.Models.Database
@{
    ViewBag.Title = "News";
}
        <!-- Main hero unit for a primary marketing message or call to action -->


<div id="myCarousel" class="carousel slide news-carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
  </ol>
  <!-- Carousel items -->
    <div class="carousel-inner">
        
        @foreach (News news in ViewBag.news)
        {
            @Html.Raw("<div class=\"item" + (news.Id == ViewBag.news[0].Id ? " active " : "") + "\">")
            <img src="@news.BackgroundUrl" alt=""/>
            <div class="carousel-caption">
                <h4>@news.Name</h4>
                <p class="mainNewsContent">@news.Content</p>
            </div>
            @Html.Raw("</div>")
        }
    </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<!-- Example row of columns -->
<div class="row">
    @foreach (Lesson lesson in ViewBag.lessons) {
        <div class="span4">
            <h2>@lesson.Name</h2>
            <div class="lessonMainPage"><img class="imageMainPage" style="width: 150px; float: left;" src="@lesson.MainImage"/>
            <p class="lessonContentMainPage">@lesson.Content</p></div>
            
            <p class="linkToLessonMainPage"><a class="categoryGoToLesson btn" data-url="@Url.Action("Details", "Lesson", new { id = lesson.Id })" href="#">Zobacz &raquo;</a></p>
        </div>
    }
</div>

        <hr>

        <footer>
            <p>&copy; Company 2013</p>
        </footer>