﻿@using TW.Models.Database
@{
    ViewBag.Title = "_Details";
}

<div id="categoryLessonTop">
    @{
        Lesson firstLesson = ViewBag.firstLesson;
    }
    <div id="categoryLessonMainImage" class="span4">
        <a class="categoryGoToLesson" data-url="@Url.Action("Details", "Lesson", new { id = firstLesson.Id })" href="">
                  @{
                      @Html.Raw("<img src=\""+firstLesson.MainImage+"\" />");
                  }
              </a>
    </div>
    <div id="categoryLessonMainTextContainer" class="span5">
        <div id="categoryLessonMainText">
            <h3 id="title"><a class="categoryGoToLesson" data-url="@Url.Action("Details", "Lesson", new { id = firstLesson.Id })" href="">@firstLesson.Name</a></h3>
            <div class="well well-small" id="content">@firstLesson.Content</div>
        </div>
    </div>
</div>
<div id="categoryLessonBottom">
    @{
        IList<Lesson> lessons = ViewBag.lessons;
        int lessonsNumb = lessons.Count;
    }
    @for (int i = 0; i < lessonsNumb; i+=3)
    {
        <div>
            <div id="categoryLessons" class="span3">
                <div class="image">
                    <a class="categoryGoToLesson" data-url="@Url.Action("Details", "Lesson", new { id = lessons[i].Id })" href="">
                        <img src="@lessons[i].MainImage"/>
                    </a>
                </div>
                <div class="text">
                    <a class="categoryGoToLesson" data-url="@Url.Action("Details", "Lesson", new { id = lessons[i].Id })" href="">
                    @if (@lessons[i].Name.Length > 30)
                    {
                        <h5>@lessons[i].Name.Substring(0, 30)</h5>
                    }
                    else
                    {
                        <h5>@lessons[i].Name</h5>
                    }
                    </a>
                    @if (lessons[i].Content.Length > 60)
                    {
                        <span>@lessons[i].Content.Substring(0, 60)</span>
                    }
                    else
                    {
                        <span>@lessons[i].Content</span>
                    }
                </div>
                <a class="categoryGoToLesson" data-url="@Url.Action("Details", "Lesson", new { id = lessons[i].Id })" href="">Więcej...</a>
            </div>
            @if (i + 1 < lessonsNumb)
            {
                <div id="categoryLessons" class="span3">
                    <div class="image">
                        <a class="categoryGoToLesson" data-url="@Url.Action("Details", "Lesson", new { id = lessons[i+1].Id })" href="">
                            <img src="@lessons[i + 1].MainImage"/>
                        </a>
                    </div>
                    <div class="text">
                        <a class="categoryGoToLesson" data-url="@Url.Action("Details", "Lesson", new { id = lessons[i+1].Id })" href="">
                        @if (@lessons[i+1].Name.Length > 30)
                        {
                            <h5>@lessons[i+1].Name.Substring(0, 30)</h5>
                        }
                        else
                        {
                            <h5>@lessons[i+1].Name</h5>
                        }
                        </a>
                        @if (lessons[i + 1].Content.Length > 60)
                        {
                            <span>@lessons[i + 1].Content.Substring(0, 60)</span>
                        }
                        else
                        {
                            <span>@lessons[i + 1].Content</span>
                        }
                    </div>
                    <a  class="categoryGoToLesson" data-url="@Url.Action("Details", "Lesson", new { id = lessons[i+1].Id })" href="">Więcej...</a>
                </div>
            }
            @if (i + 2 < lessonsNumb)
            {
                <div id="categoryLessons" class="span3">
                    <div class="image">
                        <a  class="categoryGoToLesson" data-url="@Url.Action("Details", "Lesson", new { id = lessons[i+2].Id })" href="">
                            <img src="@lessons[i + 2].MainImage"/>
                        </a>
                    </div>
                    <div class="text">
                        <a  class="categoryGoToLesson" data-url="@Url.Action("Details", "Lesson", new { id = lessons[i+2].Id })" href="">
                        @if (@lessons[i+2].Name.Length > 30)
                        {
                            <h5>@lessons[i+2].Name.Substring(0, 30)</h5>
                        }
                        else
                        {
                            <h5>@lessons[i+2].Name</h5>
                        }
                        </a>
                        @if (lessons[i + 2].Content.Length > 60)
                        {
                            <span>@lessons[i + 2].Content.Substring(0, 60)</span>
                        }
                        else
                        {
                            <span>@lessons[i + 2].Content</span>
                        }
                    </div>
                    <a  class="categoryGoToLesson" data-url="@Url.Action("Details", "Lesson", new { id = lessons[i+2].Id })" href="">Więcej...</a>
                </div>
            }
        </div>
    }
</div>
