﻿@using TW.Models.Database
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="span3" id="categoryLeft">
        @{
            int counter = 0;
        }
        <div>
        @foreach (Category category in ViewBag.categories)
        {
            int count = counter - ViewBag.order[category.Id];
                for (int i = 0; i <= count; i++)
                {
                    @Html.Raw("</div>");
                    counter--;
                }
                if (category.Lft + 1 == category.Rgt)
                {
                    @Html.Raw("<div class=\"arrowRightNoImage\"><a class=\"showCategoryLink\" data-url=\"" + @Url.Action("Details", "Category", new { id = category.Id }) + "\" href=\"#\" id=\"" + category.Id + "\">" + category.Name + "</a>")
                }
                else
                {
                    @Html.Raw("<div class=\"arrowRight\"><span class=\"categoryName\">" + category.Name+"</span>")
                }
                counter++;
        }
        @for (int i = 0; i <= counter; i++)
        {
            @Html.Raw("</div>");
        }
    </div>
        <div class="span9" id="lessonsContent">
            @if (ViewBag.firstLesson != null) {
                Html.Partial((string) ViewBag.View);
            } else {
                <span>Wybrana kategoria jest pusta.</span>
            }
            
        </div>
</div>